@use "global" as *;

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(13, 41, 54, 0.68);
  height: 80px;
  @include mq(md) {
    height: 90px;
  }
}

.header.is-active {
  background-color: $green;
}

.header__inner {
  height: inherit;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__logo {
  width: 102px;
  @include mq(md) {
    width: 133px;
  }
}
