@use "global" as *;

.blog-card {
  padding: 16px 16px 24px;
  background: $white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  display: grid;
}

.blog-card__link {
  display: grid;
  grid-template-rows: auto 1fr;
}

.blog-card__img {
  width: 100%;
}

.blog-card__img img {
}

.blog-card__text-body {
  margin-top: 4px;
  padding-top: 16px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.blog-card__date {
  font-size: 12px;
  font-family: $second-font-family;
  color: $brown;
  font-weight: 400;
  line-height: 1.5;
}

.blog-card__title {
  font-size: 16px;
  font-family: $base-font-family;
  color: $brown;
  font-weight: 500;
  line-height: 1.5;
  @include mq(md) {
    font-weight: 500;
  }
}

.blog-card__text {
  margin-top: 4px;
  padding-top: 16px;
  border-top: 1px solid $green;
  text-align: left;
  font-size: 16px;
  font-family: $base-font-family;
  color: $brown;
  font-weight: 400;
  line-height: 1.5;
  @include mq(md) {
    font-weight: 500;
  }
}
